body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}

.space-top{
  margin-top: 10rem;
}

.space-bottom-5{
  margin-bottom: 5rem;
}

.space-bottom-2{
  margin-bottom: 2rem;
}
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

footer{
  height: 20rem;
}

.Github-media-img{
  width: 5rem;
  height: 5rem;
}
.LinkedIn-media-img{
  width: 8rem;
  height: 4rem;
}